.container {
  margin-top: 7rem;
}
.wrapper {
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
}

.recipeTitle {
  margin-bottom: 16px;
  border: 0;
  font-size: 48px;
  line-height: 52px;
  font-weight: 600;
  letter-spacing: 0;
  display: inline-flex;
  align-items: center;
}
.titleInput{
  box-sizing: border-box;
  border: none;

  text-align: center;
  font-size: 30px;
  &:focus{
    outline: none;
  }
}
.buttons{
  display: inline-flex;
  align-items: flex-end;
  margin-left: 1rem;
 
}
.editIcon{
  width: 32px;
  height: 32px;

}
.deleteIcon{
  width: 32px;
  height: 32px;
}
.cancelButton{
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.content {
  display: inline-flex;
  justify-content: space-between;
}
.recipeImage {
  width: 450px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 25%;
  max-height: 60vh;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ingredientContainer {
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
.ingTitle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  color: rgb(148, 80, 165);
  font-weight: 600;
}
.ingredientsList {
  display: block;
}
.ingredient {
  list-style: circle;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: #333;
  font-size: 15px;
  font-weight: 600;
}

.description{
    color: #333;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    line-height: 1.6875rem;
    letter-spacing: normal;
    font-weight: 500;
    
    textarea{
      width: 100%;
      border: 1px solid lightgray;
    }
    textarea:focus{
      outline: none;
    }
}
