
.write {
  margin-top: 87px;
    padding-top: 50px;
  }
  
  .pageTitle{
    padding-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 32px;
  }


  .writeImg {
    margin-left: 150px;
    width: 40vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .writeForm {
    position: relative;
  }
  
  .writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
  }
  
  .writeIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
  }
  
  .writeInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
  }
  
  .writeInput:focus {
    outline-style: none;
  }
  
  .writeText {
    width: 70vw;
    height: 20vh;
    font-family: inherit;
    font-size: 20px;
  }
  .ingredients{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
  }
  .ingredientInput{
    border: 1px solid rgb(148, 80, 165);
    border-radius: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: 16px;
  }
  .ingredientButton{
    color: white;
    background-color: rgb(148, 80, 165);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .ingredientName{
    color: rgb(148, 80, 165);
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
    border-top: 2px solid rgba(68,125,117,.1);
    text-transform: capitalize;
  }
  .writeSubmit {
    position: absolute;
    bottom: 0;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }