$border-color: #e4c3c4;
$white: #fff;
$grey: #333;

.searchWrapper{
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid $border-color;
    border-radius: 3px;
    &:focus-within {
      border: 2px solid $border-color;
      box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 3px 10px 0 rgb(0 0 0 / 10%);
      outline: 0;
    }
}
.searchInput {

  width: 100%;
  font-size: 14px;
  color: $grey;
 
  padding: 10px 40px 10px 15px;
  box-sizing: border-box;
  outline: none;
  transition: all ease 0.3s;
  position: relative;

 
}

.SearchIcon {
    bottom: calc(50% - 9px);
    width: 18px;
    height: 18px;
    cursor: pointer;
  }